.todoItem {
  display: flex;
  align-items: center;
  width: 90%;
  background-color: white;
  margin: 4px 3px;
  height: 25px;
  border-radius: 12px;
}
.todoItem > p {
  flex: 1;
}
.todoItems--done {
  text-decoration: 2px line-through;
  font-style: italic;
  letter-spacing: 1.4px;
  color: rgb(70, 197, 70);
}
