.app {
  height: 100vh;
  width: 100vw;
  background-color: rgb(164, 173, 182);
  display: grid;
  place-items: center;
}
.app__container {
  height: 450px;
  width: 370px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(201, 207, 218);
  border-radius: 12px;
  padding: 32px 0;
}
.app__todoContainer {
  overflow-x: hidden;
  overflow-y: scroll;
  flex: 1;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.app__todoContainer::-webkit-scrollbar {
  background: none;
}
